@import url('https://fonts.googleapis.com/css?family=Times+New+Roman|Roboto:400,700');
/* Full height layout and dark background */
html, body {
  background-color: 1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #121212;
  font-family: sans-serif;
}

/* Card styles */
.card {
  background-color: white;
  width: 360px;
  border-radius: 10px;
  padding: 30px 20px 20px 20px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.card-heading {
  position: absolute;
  top: -20px;
  left: 20px;
  background-color: #ff1493; /* Hot pink */
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.card-text {
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}
